@charset "UTF-8";

/*-------------------------
    初期値
  -------------------------*/

body {
  /* ページ内リンクのアニメーションスムーズを追加 */
  scroll-behavior: smooth;
  padding-top:62px;
}

@media screen and (max-width: 768px) {
  body{
  padding-top:56px;
  }
}


ul {
  padding-left: 0;
  list-style-type: none;
}

/*-------------------------
    トップ
  -------------------------*/

:root {
  --key-color: #8e44ad;
  --sub-color: #7e349d;
}

.topics p {
  text-align: justify;
  display: -webkit-box;
  /* 要素内の数値軸を垂直に設定 */
  -webkit-box-orient: vertical;
  /* 表示行の高さを行数で保持 */
  -webkit-line-clamp: 7;
  overflow: hidden; /* はみ出した文字を隠す */
}

.topics .btn-primary {
  background-color: var(--key-color);
  border: 1px solid var(--sub-color);
}

.topics .btn-primary:hover {
  background-color: var(--key-color);
  border: 1px solid var(--sub-color);
}

.btn-primary:hover {
  background-color: var(--key-color);
  border: 1px solid var(--sub-color);
}

footer a {
  color:var(--key-color);
}

footer a:hover {
  color:var(--sub-color);
}

.topics .col-lg-4 {
  /* ドロップダウンメニューに隠れないよう表示位置を変更 */
  scroll-margin-top: 50vw;
}
